.wrapper {
    background-color: var(--clr-white);
    inline-size: 37.5rem;
    padding-block: 1rem;
    padding-inline: 1.5rem;
    border-radius: var(--radius-20);
    margin-block-end: 1rem;
    position: relative;
    cursor: pointer;
}

.wrapper:hover {
    .buttonWithIcon {
        transform: translateX(7px);
    }
}

.descr {
    max-inline-size: 32.5rem;
    color: var(--clr-text-black);
    font-family: Commissioner;
    font-size: var(--fs-body-3);
    font-weight: var(--fw-regular);
    line-height: 20px;
    text-align: left;
    margin-block-end: 5.5rem;
}

.descr > a {
    color: var(--clr-text-blue);
}

.header {
    color: var(--clr-text-black);
    font-family: Commissioner;
    font-size: var(--fs-title-2);
    font-weight: var(--fw-semibold);
    text-align: left;
}

.buttonWithIcon {
    position: absolute;
    top: 16px;
    right: 24px;
}

.buttonWithIcon {
    transition: transform 0.5s ease;
}

@media (max-width: 768px) {
    .wrapper {
        inline-size: auto;
        margin-block-end: 0;
    }
}

@media (max-width: 640px) {
    .descr {
        max-inline-size: 26rem;
    }
}

@media (max-width: 544px) {
    .descr {
        margin-block-end: 2.2rem;
    }
}

@media (max-width: 430px) {
    .wrapper {
        inline-size: auto;
        block-size: 7.75rem;
        padding-inline: 12px;
        padding-block: 8px;
        margin-block-end: 0;
    }

    .descr {
        inline-size: 22rem;
        font-size: var(--fs-caption-1);
        line-height: 15px;
        margin-block-end: 25px;
    }

    .header {
        font-size: var(--fs-title-3);
    }

    .buttonWithIcon {
        position: absolute;
        top: 9px;
        right: 12px;
    }

    .buttonWithIcon > svg {
        width: 13px;
        height: 13px;
    }
}
