.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    position: relative;
    overflow: hidden;
    inline-size: 22rem;
    background-color: var(--clr-light-blue);
    border-radius: var(--radius-20);
}

.wrapper:hover {
    .smallCircle {
        transform: translateX(5.5rem);
    }

    .buttonWithIcon {
        transform: translateX(7px);
    }
}

.buttonWithIcon {
    position: absolute;
    top: 8px;
    right: 4px;
}

.description {
    inline-size: 300px;
    z-index: 2;
    position: relative;
    font-size: var(--fs-body-3);
    color: rgb(255, 255, 255);
    font-family: Roboto, sans-serif;
    font-weight: var(--fw-regular);
    line-height: 20px;
}

.title {
    z-index: 2;
    position: relative;
    color: rgb(255, 255, 255);
    font-family: Commissioner, sans-serif;
    font-size: var(--fs-title-1);
    font-weight: var(--fw-semibold);
}

.bigCircle {
    z-index: 1;
    position: absolute;
    top: 3.7rem;
    left: -5rem;
    inline-size: 12.5rem;
    block-size: 12.5rem;
    backdrop-filter: blur(40%);
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}

.smallCircle {
    z-index: 2;
    position: absolute;
    top: 7rem;
    left: -1.5rem;
    inline-size: 6.25rem;
    block-size: 6.25rem;
    backdrop-filter: blur(40%);
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    transition: transform 0.8s ease;
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

.buttonWithIcon {
    transition: transform 0.5s ease;
}

@media (max-width: 768px) {
    .smallCircle {
        left: 4rem;
    }

    .wrapper {
        inline-size: 29.25rem;
    }
}

@media (max-width: 430px) {
    .wrapper {
        padding: 10px 16px;
    }
    .title {
        font-size: 21px;
    }

    .buttonWithIcon {
        top: 6px;
        right: 4px;
    }

    .description {
        inline-size: auto;
        color: var(--clr-white);
        font-size: var(--fs-caption-1);
        font-weight: var(--fw-regular);
        letter-spacing: 0.68px;
        line-height: 15px;
        text-align: left;
    }
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}
