.basis {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    inline-size: 10.93rem;
    border-radius: 0.5rem;
    font-family: Commissioner, sans-serif;
    font-weight: var(--fw-medium);
    text-align: center;
}

.primary {
    inline-size: 12.5rem;
    height: 4.66rem;
    block-size: 3.5rem;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    line-height: 150%;
    box-sizing: border-box;
    border: 1.5px solid var(--clr-text-blue);
    border-radius: 0.5rem;
    background-color: var(--clr-text-blue);
    color: var(--clr-white);
}

.primary span > svg {
    display: block;
    margin-block-start: 2px;
    inline-size: 1.25rem;
    block-size: 1.25rem;
}

.secondary {
    font-size: var(--fs-body-3);
    block-size: 2.75rem;
    inline-size: 11.25rem;
    padding: 0.75rem 1.5rem;
    box-sizing: border-box;
    border: 1.5px solid rgb(229, 237, 255);
    border-radius: 0.5rem;
    background-color: var(--clr-white);
    color: var(--clr-text-blue);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

.descr {
    inline-size: auto;
}

.secondary > .wrapper > .descr {
    inline-size: 7.3rem;
}

.secondary > span > svg {
    block-size: 17px;
    inline-size: 17px;
}

@media (hover: hover) {
    .primary:hover {
        color: var(--clr-bg);
    }

    .secondary:hover {
        color: var(--clr-dark-blue);
    }
}

@media (max-width: 430px) {
    .basis > svg {
        inline-size: 14px;
        block-size: 14px;
        top: 8px;
        right: 14px;
    }

    .primary > svg {
        inline-size: 1.25rem;
        block-size: 1.25rem;
        top: 18.5px;
        right: 16px;
    }
}
