.container {
    margin-block-start: 1rem;
    block-size: 12.625rem;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 430px) {
    .container {
        flex-direction: column;
        margin-block-start: 10px;
    }
}
