.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 1.5rem 1rem 1.5rem;
    border-radius: var(--radius-20);
    background-color: var(--clr-white);
    gap: 1.5rem;
    color: var(--clr-title-gray);
    font-family: Commissioner, sans-serif;
    font-size: var(--fs-title-1);
    font-weight: var(--fw-semibold);
    cursor: pointer;
}

.wrapper:hover {
    .buttonWithIcon {
        transform: translateX(7px);
    }
}

.buttonWithIcon {
    position: absolute;
    top: 5px;
    right: 24px;
}

.team {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    width: 10.6rem;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    inline-size: 2.75rem;
    block-size: 2.75rem;
    background-color: #d9d9d9;
    border-radius: 50%;
}

.dot {
    width: 0.31225rem;
    height: 0.31225rem;
    background-color: #000000;
    border-radius: 50%;
    position: absolute;
}

.dot:nth-child(1) {
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.dot:nth-child(2) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dot:nth-child(3) {
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.buttonWithIcon {
    transition: transform 0.5s ease;
}

@media (max-width: 430px) {
    .wrapper {
        padding: 2rem 1rem 0.625rem 1rem;
        gap: 0.625rem;
        font-size: 21px;
    }
    .team {
        inline-size: 7.25rem;
        gap: 0.625rem;
    }

    .buttonWithIcon {
        position: absolute;
        top: 5px;
        right: 12px;
    }

    .buttonWithIcon > svg {
        width: 13px;
        height: 13px;
    }

    .circle {
        width: 1.875rem;
        height: 1.875rem;
        border: 1px solid #ffffff;
    }

    .dot {
        width: 2px;
        height: 2px;
    }
}
