.wrapper {
    position: relative;
    background-color: var(--clr-white);
    padding-inline: 1.5rem;
    padding-block-start: 3rem;
    padding-block-end: 1rem;
    inline-size: 10.5rem;
    block-size: 14.5rem;
    margin-inline-start: .5rem;
    border-radius: var(--radius-20);
}

.title {
    margin-block-start: 1rem;
    color: var(--clr-title-gray);
    font-family: Commissioner;
    font-size: var(--fs-title-1);
    font-weight: var(--fw-semibold);
    text-align: left;
}

.arrow {
    position: absolute;
    inline-size: 1.25rem;
    block-size: 1.25rem
}

.participants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin: 0 -10px;
}
.galleryItem {
    margin: 0.5rem;
    box-sizing: border-box; 
    width: 2.75rem;
    height: 2.75rem;
}
.galleryItem img {
    margin: 0;
    width: 2.75rem;
    height: 2.75rem;
}

.circle {
    margin: 0.5rem;
    inline-size: 2.75rem; 
    block-size: 2.75rem; 
    background-color: #d9d9d9;;
    border-radius: 50%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: relative; 
}

.dot {
    width: 5px; 
    height: 5px;
    background-color: #000000;
    border-radius: 50%;
    position: absolute;
}

.dot:nth-child(1) {
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.dot:nth-child(2) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dot:nth-child(3) {
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}
