.wrapper {
    background-color: var(--clr-white);
    inline-size: 37.5rem;
    padding-block: 1rem;
    padding-inline: 1.5rem;
    border-radius: var(--radius-20);
    margin-block-end: 1rem;
    position: relative;
    cursor: pointer;
}

.wrapper:hover {
    .imgWrapper > svg:nth-child(1) {
        fill: #f6d86e;
        width: 23px;
        height: 23px;
    }

    .imgWrapper > svg:nth-child(2) {
        fill: #f6d86e;
    }

    .imgWrapper > svg:nth-child(3) {
        fill: #f6d86e;
    }

    .imgWrapper > svg:nth-child(4) {
        fill: #f6d86e;
    }

    .imgWrapper > svg:nth-child(5) {
        fill: #f6d86e;
    }
    .buttonWithIcon {
        transform: translateX(7px);
    }
}

.descr {
    max-inline-size: 34.625rem;
    color: var(--clr-text-black);
    font-family: Commissioner;
    font-size: var(--fs-body-3);
    font-weight: var(--fw-regular);
    line-height: 20px;
    text-align: left;
    margin-block-end: 4.2rem;
}

.descr > a {
    color: var(--clr-text-blue);
}

.header {
    color: var(--clr-text-black);
    font-family: Commissioner;
    font-size: 24px;
    font-weight: var(--fw-semibold);
    text-align: left;
}

.innerWrapper {
    display: flex;
    justify-content: space-between;
}

.mobile {
    display: none;
}

.buttonWithIcon {
    position: absolute;
    top: 16px;
    right: 24px;
}

.buttonWithIcon {
    transition: transform 0.5s ease;
}

.imgWrapper > svg:nth-child(1) {
    fill: rgb(89, 124, 212);
    transition: fill 0.2s;
}

.imgWrapper > svg:nth-child(2) {
    fill: rgb(89, 124, 212);
    transition: fill 0.4s;
}

.imgWrapper > svg:nth-child(3) {
    fill: rgb(89, 124, 212);
    transition: fill 0.6s;
}

.imgWrapper > svg:nth-child(4) {
    fill: rgb(89, 124, 212);
    transition: fill 0.8s;
}

.imgWrapper > svg:nth-child(5) {
    fill: rgb(89, 124, 212);
    transition: fill 1s;
}

@media (max-width: 768px) {
    .wrapper {
        inline-size: auto;
        margin-block-end: 0;
    }
}

@media (max-width: 640px) {
    .descr {
        max-inline-size: 26rem;
    }
}

@media (max-width: 544px) {
    .descr {
        margin-block-end: 2.2rem;
    }
}

@media (max-width: 430px) {
    .wrapper {
        inline-size: auto;
        block-size: 7.75rem;
        padding-inline: 12px;
        padding-block: 8px;
    }

    .descr {
        inline-size: 21rem;
        font-size: var(--fs-caption-1);
        line-height: 15px;
        margin-block-end: 25px;
    }

    .descr > a {
        color: var(--clr-text-blue);
    }

    .header {
        font-size: var(--fs-title-3);
    }

    .buttonWithIcon {
        position: absolute;
        top: 9px;
        right: 12px;
    }

    .buttonWithIcon > svg {
        width: 13px;
        height: 13px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}
