.wrapper {
    background-color: #fff;
    inline-size: 8.75rem;
    block-size: 8.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-20);
}

.messenger {
    text-align: center;
    justify-content: center;
}

.messenger > img {
    margin: 0;
    inline-size: 3.5rem;
    block-size: 3.5rem;
}

@media (max-width: 430px) {
    .wrapper {
        inline-size: 95px;
        block-size: 95px;
    }

    .messenger > img {
        margin: 0;
        inline-size: 38px;
        block-size: 38px;
    }
}
