.wrapper {
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    background-color: var(--clr-bg-purple);
    padding: 16px 24px 16px 24px;
    inline-size: 26.75rem;
    border-radius: var(--radius-20);
}

.wrapper:hover {
    .buttonWithIcon {
        transform: translateX(7px);
    }

    .rectangle1 {
        transform: translateX(35.98px);
        transform: translateY(27px);
        transform: rotate(140deg);
    }

    .rectangle2 {
        transform: translateX(33px);
        transform: translateY(27px);
        transform: rotate(160deg);
    }
}

.buttonWithIcon {
    position: absolute;
    top: 8px;
    right: 4px;
}

.title {
    color: var(--clr-white);
    font-family: Commissioner, sans-serif;
    font-size: var(--fs-title-1);
    font-weight: var(--fw-semibold);
    letter-spacing: -1.5px;
    text-align: left;
}

.wrapper > a > img {
    position: absolute;
    top: 1rem;
    right: 1.125rem;
    inline-size: 1.25rem;
    block-size: 1.25rem;
}

.rectangle1 {
    z-index: 3;
    left: -34.29px;
    top: 0rem;
    position: absolute;
    inline-size: 7.75rem;
    block-size: 11rem;
    border-radius: 4px;
    backdrop-filter: blur(40px);
    background: rgba(255, 255, 255, 0.2);
    transform: rotate(180deg);
    transition: transform 0.8s ease;
}

.rectangle2 {
    z-index: 2;
    left: -34.29px;
    top: 0rem;
    position: absolute;
    inline-size: 7.75rem;
    block-size: 11rem;
    border-radius: 4px;
    backdrop-filter: blur(40px);
    background: rgba(255, 255, 255, 0.2);
    transform: rotate(180deg);
    transition: transform 0.8s ease;
}

.rectangle3 {
    z-index: 1;
    left: -34.29px;
    top: 0rem;
    position: absolute;
    inline-size: 7.75rem;
    block-size: 11rem;
    border-radius: 4px;
    backdrop-filter: blur(40px);
    background: rgba(255, 255, 255, 0.2);
    transform: rotate(180deg);
}

.mobile {
    display: none;
}

.buttonWithIcon {
    transition: transform 0.5s ease;
}

@media (max-width: 768px) {
    .wrapper {
        inline-size: 34rem;
    }
}

@media (max-width: 430px) {
    .wrapper {
        padding-block: 11px;
        padding-inline: 11px;
        inline-size: 17.1875rem;
        block-size: 11.25rem;
        border-radius: var(--radius-20);
    }

    .title {
        font-size: 22px;
        margin-block-start: 5.7em;
    }

    .wrapper > a > img {
        position: absolute;
        top: 11px;
        right: 12px;
        inline-size: 13px;
        block-size: 13px;
    }

    .rectangle1 {
        inline-size: 5.25rem;
        block-size: 7.375rem;
        top: -2.7rem;
    }

    .rectangle2 {
        inline-size: 5.25rem;
        block-size: 7.375rem;
        top: -1.7rem;
    }

    .rectangle3 {
        inline-size: 5.25rem;
        block-size: 7.375rem;
        top: 0rem;
    }

    .mobile {
        display: block;
    }
}
