.container {
    margin-block-start: 2rem;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.aboutChatControl {
    inline-size: 39.5rem;
    display: flex;
    flex-direction: column;
}

.aboutWrapper {
    display: flex;
    justify-content: space-between;
    inline-size: 39.5rem;
    margin-block-end: 1rem;
}

.resourcesWrapper {
    display: flex;
    justify-content: space-between;
    inline-size: 39.5rem;
}

@media (max-width: 430px) {
    .wrapper {
        flex-direction: column;
    }

    .aboutWrapper {
        margin-block-end: 10px;
        block-size: 12.375rem;
        justify-content: start;
    }

    .resourcesWrapper {
        margin-block-end: 0;
        justify-content: start;
    }
}
