:root {
    /* Basic colours */
    --clr-white: #fff;
    --clr-bg: #ebebeb;
    --clr-bg-dark-blue: #1a5ab6;
    --clr-bg-purple: #947cff;
    --clr-dark-blue: #1a5ab6;
    --clr-text-blue: #4d90f1;
    --clr-text-black: #595959;
    --clr-title-black: #3e3f4b;
    --clr-title-gray: #787981;
}
