.wrapper {
    background-color: var(--clr-white);
    inline-size: 26.75rem;
    block-size: 10.625rem;
    padding-block: 1rem;
    padding-inline: 1.5rem;
    border-radius: var(--radius-20);
    margin-block-end: 1rem;
    margin-inline: 1rem;
}

.descr {
    color: var(--clr-text-black);
    font-family: Commissioner;
    font-size: var(--fs-body-3);
    font-weight: var(--fw-regular);
    line-height: 20px;
    text-align: left;
    margin-block-end: 3.69rem;
}

.descr > a {
    color: var(--clr-text-blue);
}

.header {
    color: var(--clr-text-black);
    font-family: Commissioner;
    font-size: 24px;
    font-weight: var(--fw-semibold);
    text-align: left;
}